.cproject
.project
obj/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libArgumentParser.la
libtool
ltmain.sh
missing
*/*.lo
*/*.o
src/.deps
src/.dirstamp
stamp-h1
